* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, textarea, select, option {
    background-color: #131215;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
* a:hover {
    color: #855EEE;
}

/* Estilizações para o header */
.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C1C1E;
    padding: 18px 25px;
    position: sticky;

    .box-logo {
        color: #fff;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 25px;
        font-family: "Paytone One";
    }
    .box-logo img {
        width: 40px;
    }

    .box-input-search {
        display: flex;
        background-color: #343438;
        width: 642px;
        height: 40px;
        border-radius: 10px;
    }
    .box-input-search input {
        background-color: transparent;
        flex: 1;
        border: 0;
        outline: 0;
        padding: 14px 10px;
        font-size: 16px;
    }
    .box-input-search input::placeholder {
        color: #929499;
        font-size: 16px;
    }
    .box-input-search .search {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        width: 50px;
        cursor: pointer;
        color: #929499;
    }

    .container-cart-user {
        display: flex;
        gap: 50px;
        align-items: center;
    }
    .container-cart-user .box-cart {
        position: relative;
    }
    .container-cart-user .cart {
        all: unset;
        font-size: 28px;
        cursor: pointer;
        height: fit-content;
    }
    .container-cart-user .cart::after {
        position: absolute;
        top: -3px;
        right: -4px;
        font-size: 10px;
        content: '7';
        display: flex;
        justify-content: center;
        align-items: center;
        height: 12px;
        width: 12px;
        padding: 1px;
        color: #fff;
        background-color: #855EEE;
        border-radius: 50%;
    }
    .container-cart-user .cart:hover {
        color: #855EEE;
    }

    .container-cart-user .box-user {
        color: #fff;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }
    .container-cart-user .box-user i {
        transition: transform .2s ease-in-out;
    }
    .container-cart-user .box-user:hover i {
        transform: translateY(5px);
    }
    .container-cart-user .box-user img {
        width: 40px;
    }
}

.nav {
    position: sticky;
    top: 79.63px;
    left: 0;
    right: 0;
    z-index: 1;

    background-color: #2C2C2F;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-list {
        font-family: 'Paytone One', sans-serif;
        font-size: 17px;
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 50px;
    }
    .nav-list li a {
        color: #fff;
        text-decoration: none;
        position: relative;
        transition: color .2s ease-in-out;
    }
    .nav-list li a::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        height: 2px;
        width: 0;
        background-color: #855EEE;
        transition: width .2s ease-in-out;
    }
    .nav-list li a:hover {
        color: #855EEE;
    }
    .nav-list li a:hover::after {
        width: 100%;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 150px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .titles {
            text-align: center;
            margin-bottom: 35px;
        }
    
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            padding: 16px 20px;
            border-radius: 20px;
            gap: 30px;
        }
        form select {
            padding: 13px;
            width: 380px;
            background-color: #1C1C1E;
            border: none;
            border-radius: 5px;
            margin-bottom: 20px;
            font-size: 16px;
        }
        form select:invalid {
            color: #757575;
            padding: 13px;
            width: 380px;
            background-color: #1C1C1E;
            border: none;
            border-radius: 5px;
            margin-bottom: 20px;
            font-size: 16px;
        }
        form input {
            padding: 13px;
            width: 380px;
            background-color: #1C1C1E;
            border: none;
            border-radius: 5px;
            margin-bottom: 20px;
            font-size: 16px;
        }
        form input:focus, form select:focus {
            outline: 1px solid #855EEE;
            box-shadow: 0px 0px 20px #845eee5d;
        }
        form .inputs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        form .inputs .inputs-left, form .inputs .inputs-right {
            display: flex;
            flex-direction: column;
        }
        form input[type="date"]::-webkit-calendar-picker-indicator {
            cursor: pointer;
            filter: invert(1) brightness(100%) saturate(10000%) hue-rotate(240deg);
        }
    
        .button {
            border: none;
            outline: none;
            padding: 15px;
            text-align: center;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            background-color: #855EEE;
            font-size: 20px;
            border-radius: 8px;
            width: 350px;
            color: #fff;
            cursor: pointer;
        }
        .button:hover {
            background-color: #5e35ce;
            box-shadow: 0px 0px 50px #845eee85;
        }
    }


    .banner-wash {
        width: 550px;
        overflow: hidden;
        border-radius: 20px;
        border: 5px solid #5e35ce;

        img {
            width: 100%;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    opacity: 50%;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}